*.ngc

.curr_part
.xst_extra_opts

_impactbatch.log
_impact.cmd
_impact.log
_xmsgs/

coregen-tmp/
mm_bd.bmm
mm_bd.ncd
mm.bgn
mm.bit
mm_bitgen.xwbt
mm.bld
mm.cfi
mm.drc
mm_err.twr
mm_err.twx
mm.lso
mm.map
mm_map.xrpt
mm.mcs
mm.mrp
mm.ncd
mm.ngc_xst.xrpt
mm.ngd
mm_ngdbuild.xrpt
mm.ngm
mm_par_fpga_editor.log
mm_par.ncd
mm_par.pad
mm_par_pad.csv
mm_par_pad.txt
mm_par.par
mm_par.ptwx
mm_par.unroutes
mm_par.xpi
mm_par.xrpt
mm.pcf
mm.prj
mm.prm
mm.psr
mm.scr
mm.srp
mm_summary.xml
mm_usage.xml
netlist.lst
par_usage_statistics.html
smartguide.ncd
usage_statistics_webtalk.html
webtalk.log
xlnx_auto_0_xdb/
xst/

GuidePresReport.tmp
