*.ngc
.xst_extra_opts
_xmsgs/
mm.bld
mm.lso
mm.ngc_xst.xrpt
mm.old.ucf
mm.prj
mm.scr
mm.srp
mm.ucf
mm_ngdbuild.xrpt
netlist.lst
xst/
coregen-tmp/
.curr_part
mm.bgn
mm.bit
mm.cfi
mm.drc
mm.map
mm.mcs
mm.mrp
mm.ncd
mm.ngd
mm.ngm
mm.pcf
mm.prm
mm.psr
mm_bitgen.xwbt
mm_err.twr
mm_err.twx
mm_map.xrpt
mm_par.ncd
mm_par.pad
mm_par.par
mm_par.ptwx
mm_par.unroutes
mm_par.xpi
mm_par.xrpt
mm_par_pad.csv
mm_par_pad.txt
mm_summary.xml
mm_usage.xml
par_usage_statistics.html
webtalk.log
xlnx_auto_0_xdb/
_impactbatch.log
smartguide.ncd
