# Global controls 25MHz input
NET "ex_clk_i" LOC = R7;

# UART <-> FT232
NET "uart_debugSIN"  LOC = R9; # DATA1_3
NET "uart_debugSOUT" LOC = T9; # DATA1_4

# I2C for Work
NET "I2C_SCL" LOC = D8; # FP1_6
NET "I2C_SCL" PULLUP;
NET "I2C_SDA" LOC = C9; # FP1_5
NET "I2C_SDA" PULLUP;

# TWI for TMP
NET "TWI_SCL" LOC = P2;
NET "TWI_SCL" PULLUP;
NET "TWI_SDA" LOC = R1;
NET "TWI_SDA" PULLUP;

# Front LED Shifter
#NET "gpioPIO_OUT[0]" LOC = D9  | SLEW = QUIETIO; # FP1_3, LED_DATA
#NET "gpioPIO_OUT[1]" LOC = C10 | SLEW = QUIETIO; # FP1_4, LED_CLK

# Chip reset
NET "gpioPIO_OUT[2]" LOC = J1 | SLEW = QUIETIO; # RST_A
NET "gpioPIO_OUT[3]" LOC = K15 | SLEW = QUIETIO; # RST_B

# MM LED
NET "gpioPIO_OUT[4]" LOC = T6 | SLEW = QUIETIO; # LED1
NET "gpioPIO_OUT[5]" LOC = R5 | SLEW = QUIETIO; # LED2
NET "gpioPIO_OUT[6]" LOC = T5 | SLEW = QUIETIO; # LED3
NET "gpioPIO_OUT[7]" LOC = T4 | SLEW = QUIETIO; # LED4

# VID_A
NET "SFTA_DS" LOC = C6 | SLEW = QUIETIO; # VID_INPUT_A
NET "SFTA_SHCP" LOC = A6 | SLEW = QUIETIO; # VID_SRCLK_A
NET "SFTA_STCP" LOC = B8 | SLEW = QUIETIO; # VID_RCLK_A
NET "SFTA_OE_N" LOC = A7 | SLEW = QUIETIO; # VID_OE_A

# VID_B
NET "SFTB_DS" LOC = A11 | SLEW = QUIETIO; # VID_INPUT_B
NET "SFTB_SHCP" LOC = A12 | SLEW = QUIETIO; # VID_SRCLK_B
NET "SFTB_STCP" LOC = A10 | SLEW = QUIETIO; # VID_RCLK_B
NET "SFTB_OE_N" LOC = C11 | SLEW = QUIETIO; # VID_OE_B

# VID_C
NET "SFTC_DS" LOC = D9 | SLEW = QUIETIO; # FP1_3, LED_DATA
NET "SFTC_SHCP" LOC = C10 | SLEW = QUIETIO; # FP1_4, LED_CLK

#Power Good
NET "gpioPIO_IN[0]" LOC = A3 | SLEW = QUIETIO; # PG1_A
NET "gpioPIO_IN[1]" LOC = B5 | SLEW = QUIETIO; # PG2_A
NET "gpioPIO_IN[2]" LOC = A4 | SLEW = QUIETIO; # PG3_A
NET "gpioPIO_IN[3]" LOC = B6 | SLEW = QUIETIO; # PG4_A
NET "gpioPIO_IN[4]" LOC = A5 | SLEW = QUIETIO; # PG5_A

NET "gpioPIO_IN[5]" LOC = A14 | SLEW = QUIETIO; # PG1_B
NET "gpioPIO_IN[6]" LOC = B12 | SLEW = QUIETIO; # PG2_B
NET "gpioPIO_IN[7]" LOC = C13 | SLEW = QUIETIO; # PG3_B
NET "gpioPIO_IN[8]" LOC = B10 | SLEW = QUIETIO; # PG4_B
NET "gpioPIO_IN[9]" LOC = A13 | SLEW = QUIETIO; # PG5_B

# FAN
NET "PWM" LOC = A8 | SLEW = QUIETIO; # FAN_PWM
NET "FAN_IN0" LOC = A9 | SLEW = QUIETIO; # FAN_SPEED1

# Chip clock 25MHz
NET "ex_clk_o[0]" LOC = H3; #CLK_A
NET "ex_clk_o[1]" LOC = J16; #CLK_B

NET "*" IOSTANDARD = LVCMOS33;

NET "ex_clk_i" TNM_NET = "ex_clk_i";
TIMESPEC TS_clk = PERIOD "ex_clk_i" 40 ns HIGH 50 %;

NET "clk_i" TNM_NET = "clk_i";
TIMESPEC TS_clk_i = PERIOD "clk_i" 10 ns HIGH 50 %;

# API5_A
NET "API_MISO[4]" LOC = N3;
NET "API_MOSI[4]" LOC = N1 | SLEW = QUIETIO;
NET "API_LOAD[4]" LOC = P1 | SLEW = QUIETIO;
NET  "API_SCK[4]" LOC = M1 | SLEW = QUIETIO;

NET "API_MISO[3]" LOC = L1;
NET "API_MOSI[3]" LOC = K3 | SLEW = QUIETIO;
NET "API_LOAD[3]" LOC = M2 | SLEW = QUIETIO;
NET  "API_SCK[3]" LOC = K1 | SLEW = QUIETIO;

NET "API_MISO[2]" LOC = H1;
NET "API_MOSI[2]" LOC = H2 | SLEW = QUIETIO;
NET "API_LOAD[2]" LOC = K2 | SLEW = QUIETIO;
NET  "API_SCK[2]" LOC = G1 | SLEW = QUIETIO;

NET "API_MISO[1]" LOC = F1;
NET "API_MOSI[1]" LOC = F2 | SLEW = QUIETIO;
NET "API_LOAD[1]" LOC = F3 | SLEW = QUIETIO;
NET  "API_SCK[1]" LOC = E1 | SLEW = QUIETIO;

NET "API_MISO[0]" LOC = D1;
NET "API_MOSI[0]" LOC = C2 | SLEW = QUIETIO;
NET "API_LOAD[0]" LOC = E2 | SLEW = QUIETIO;
NET  "API_SCK[0]" LOC = C1 | SLEW = QUIETIO;

NET "API_MISO[9]" LOC = P16;
NET "API_MOSI[9]" LOC = M16 | SLEW = QUIETIO;
NET "API_LOAD[9]" LOC = N16 | SLEW = QUIETIO;
NET  "API_SCK[9]" LOC = R15 | SLEW = QUIETIO;

NET "API_MISO[8]" LOC = P15;
NET "API_MOSI[8]" LOC = K16 | SLEW = QUIETIO;
NET "API_LOAD[8]" LOC = L16 | SLEW = QUIETIO;
NET  "API_SCK[8]" LOC = M15 | SLEW = QUIETIO;

NET "API_MISO[7]" LOC = L14;
NET "API_MOSI[7]" LOC = K14 | SLEW = QUIETIO;
NET "API_LOAD[7]" LOC = M14 | SLEW = QUIETIO;
NET  "API_SCK[7]" LOC = H15 | SLEW = QUIETIO;

NET "API_MISO[6]" LOC = G14;
NET "API_MOSI[6]" LOC = G16 | SLEW = QUIETIO;
NET "API_LOAD[6]" LOC = H16 | SLEW = QUIETIO;
NET  "API_SCK[6]" LOC = F14 | SLEW = QUIETIO;

NET "API_MISO[5]" LOC = E15;
NET "API_MOSI[5]" LOC = E16 | SLEW = QUIETIO;
NET "API_LOAD[5]" LOC = F16 | SLEW = QUIETIO;
NET  "API_SCK[5]" LOC = D16 | SLEW = QUIETIO;

