# Global controls
NET "ex_clk_i" LOC = K12;

# UART <-> FT232
NET "uartSIN"  LOC = R14; # FT232's TX
NET "uartSOUT" LOC = R12; # FT232's RX
NET "uartRESET_N" LOC = R15 | SLEW = QUIETIO;
NET "hubRESET_N"  LOC = R16 | SLEW = QUIETIO;

# UART debug

# LED gpioPIO_BOTH_OUT
NET "gpioPIO_BOTH_OUT[0]" LOC = J11 | SLEW = QUIETIO;
NET "gpioPIO_BOTH_OUT[1]" LOC = J12 | SLEW = QUIETIO;
NET "gpioPIO_BOTH_OUT[2]" LOC = J13 | SLEW = QUIETIO;
NET "gpioPIO_BOTH_OUT[3]" LOC = J14 | SLEW = QUIETIO;

# SPI Flash: W25Q80BV
#NET "spiMISO_MASTER" LOC = P10;
#NET "spiMOSI_MASTER" LOC = T10;
#NET "spiSCLK_MASTER" LOC = R11;
#NET "spiSS_N_MASTER" LOC = T3;

NET "*" IOSTANDARD = LVCMOS33;

NET "ex_clk_i" TNM_NET = "ex_clk_i";
TIMESPEC TS_clk = PERIOD "ex_clk_i" 30 ns HIGH 50 %;
