# Global controls
NET "ex_clk_i"    LOC = A9 ;
NET "ex_clk_o[0]" LOC = J13;
NET "ex_clk_o[1]" LOC = J14;
NET "ex_clk_o[2]" LOC = J16;
NET "ex_clk_o[3]" LOC = K14;

# UART
NET "uartSIN"  LOC = A6;
NET "uartSOUT" LOC = B6;
NET "uartSOUT" PULLUP;

#GND L1 M2 M1 P1 N1
# UART debug
NET "uart_debugSIN"  LOC = L1;
NET "uart_debugSOUT" LOC = M2;

# aLink
NET   "RX_P[0]" LOC = E16;
NET   "RX_N[0]" LOC = B16;
NET   "TX_N[0]" LOC = F15 | SLEW = QUIETIO;
NET   "TX_P[0]" LOC = F16 | SLEW = QUIETIO;

NET   "RX_P[1]"	LOC = K16;
NET   "RX_N[1]"	LOC = K15;
NET   "TX_N[1]"	LOC = H16 | SLEW = QUIETIO;
NET   "TX_P[1]"	LOC = H15 | SLEW = QUIETIO;

NET   "RX_P[2]"	LOC = P16;
NET   "RX_N[2]"	LOC = N16;
NET   "TX_N[2]"	LOC = M16 | SLEW = QUIETIO;
NET   "TX_P[2]"	LOC = M15 | SLEW = QUIETIO;

NET   "RX_P[3]"	LOC = T12;
NET   "RX_N[3]"	LOC = T13;
NET   "TX_N[3]"	LOC = T14 | SLEW = QUIETIO;
NET   "TX_P[3]"	LOC = T15 | SLEW = QUIETIO;

NET   "SFT_SHCP" LOC = T6;
NET   "SFT_DS"   LOC = R5;
NET   "SFT_STCP" LOC = P5;
NET   "SFT_MR_N" LOC = R7;
NET   "SFT_OE_N" LOC = T5;

NET   "FAN_IN0" LOC = R2;

# LED gpioPIO_BOTH_OUT*8
#                      SIN
#                      |   SOUT
#                      |   |   GPIO0
#                      |   |   |
# B2  B1  C2  C1      G1  H1  H2  J1
#  |   |   |   |                   |      
#  |   |   |   |                   GPIO1
#  |   |   |   NONCE3
#  |   |   NONCE2
#  |   NONCE1
#  NONCE0

NET "NONCE_led[0]"   LOC = B2 | SLEW = QUIETIO;
NET "NONCE_led[1]"   LOC = B1 | SLEW = QUIETIO;
NET "NONCE_led[2]"   LOC = C2 | SLEW = QUIETIO;
NET "NONCE_led[3]"   LOC = C1 | SLEW = QUIETIO;

NET "uartSIN_led"    LOC = G1 | SLEW = QUIETIO;
NET "uartSOUT_led"   LOC = H1 | SLEW = QUIETIO;

NET "gpioPIO_OUT[0]" LOC = H2 | SLEW = QUIETIO;

#A3233 Reset_n
NET "gpioPIO_OUT[1]" LOC = J1  | SLEW = QUIETIO;
NET "RSTN_CHIP[0]"   LOC = B15 | SLEW = QUIETIO;
NET "RSTN_CHIP[1]"   LOC = G16 | SLEW = QUIETIO;
NET "RSTN_CHIP[2]"   LOC = L16 | SLEW = QUIETIO;
NET "RSTN_CHIP[3]"   LOC = R16 | SLEW = QUIETIO;

#GPIO to MCU
#PIN8  - A3
#PIN15 - B3
#PIN16 - A4
#PIN17 - B5
#PIN18 - A5 
NET "gpioPIO_IN[0]" LOC = A3 | SLEW = QUIETIO;
NET "gpioPIO_IN[1]" LOC = B3 | SLEW = QUIETIO;
NET "gpioPIO_IN[3]" LOC = A4 | SLEW = QUIETIO;
NET "gpioPIO_IN[4]" LOC = B5 | SLEW = QUIETIO;
NET "gpioPIO_IN[5]" LOC = A5 | SLEW = QUIETIO;

#GPIO read Power good
NET "gpioPIO_IN[6]" LOC = T4 | SLEW = QUIETIO;
NET "gpioPIO_IN[7]" LOC = T7 | SLEW = QUIETIO;

NET "TWI_SCL" LOC = A13;
NET "TWI_SDA" LOC = A14;

NET "PWM"      LOC = R1 | SLEW = QUIETIO;

NET "*" IOSTANDARD = LVCMOS33;

NET "ex_clk_i" TNM_NET = "ex_clk_i";
TIMESPEC TS_clk = PERIOD "ex_clk_i" 40 ns HIGH 50 %;

NET "clk_i" TNM_NET = "clk_i";
TIMESPEC TS_clk_i = PERIOD "clk_i" 10 ns HIGH 50 %;
