*~
*.o
*.d
*.a
/mm.bit
/mm.elf
/mm.hexdump
/mm.map
/mm.mcs
/mm.objdump
/TAGS

/_impactbatch.log

/libs/build_dir
/libs/dl
/toolchain/.compile.binutils.ok
/toolchain/.compile.gcc.ok
/toolchain/.compile.gdb.ok
/toolchain/.install.binutils.ok
/toolchain/.install.gcc.ok
/toolchain/.install.gdb.ok
/toolchain/.unzip.ok
/toolchain/b-binutils
/toolchain/b-gcc
/toolchain/b-gdb
/toolchain/binutils-2.22
/toolchain/dl
/toolchain/gcc-4.5.4
/toolchain/gdb-7.4.1
/toolchain/gmp-4.3.2
/toolchain/mpc-0.8.1
/toolchain/mpfr-2.4.2
/toolchain/newlib-1.20.0
